@use "../mixins";

.l-project-grid {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-areas:
        "title"
        "description"
        "tech"
        "repo";

    @include mixins.media('tablet') {
        grid-template-columns: 4fr 3fr;
        grid-gap: 0.2rem;
        grid-template-areas:
            "title tech"
            "description repo";
    }


    &_title {
        grid-area: title;
    }

    &_tech {
        grid-area: tech;
        display: flex;
        gap: 0.5rem;
        flex-flow: row wrap;
        align-items: center;

        @include mixins.media('tablet') {
            justify-content: flex-end;
            align-self: center;
        }
    }

    &_description {
        grid-area: description;
    }

    &_repo {
        grid-area: repo;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        @include mixins.media('tablet') {
            justify-content: flex-end;
            align-self: center;
        }
    }
}
