{% if page.url !== '/' %}
<header class="c-header">
    {% include "components/navigation.njk" %}
    <!-- <button class="c-button c-header__button js-terminal-button"> -->
    <!--     {% include 'icons/terminal.svg' %} -->
    <!-- </button> -->
    <!-- <button class="c-button c-nav-button js-nav-button"> -->
    <!--   {% include 'icons/folder.svg' %} -->
    <!-- </button> -->
</header>
{% endif %}
