---
layout: layouts/home.njk
eleventyNavigation:
    key: main
    title: главная
    order: 0
---

<div class="c-home">
    <div class="c-home__wrapper">
        <div class="c-gradient-block">
            <h1 class="c-home__title">{{ metadata.title }}</h1>
            <p class="c-home__text">{{ metadata.description }}</p>
        </div>
    </div>
    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
    <li class="c-routes__item{% if entry.url == page.url %} c-routes__item--active{% endif %}">
        {% if entry.url == page.url %}
            <div class="c-routes__link c-routes__text" href="{{ entry.url | url }}">
                <div class="c-zoom-word">
                    <div class="c-zoom-word__list">
                        {% for i in range(0, 6) -%}
                            <span  class="c-zoom-word__text">
                                {{ entry.title }}
                            </span>
                        {%- endfor %}
                    </div>
                    <span class="c-routes__name">{{ entry.title }}</span>
                </div>
                <span class="c-zoom-word__pointer">&nbsp;&#8592; вы здесь</span>
            </div>
        {% else %}
            <a class="c-routes__link c-routes__text" href="{{ entry.url | url }}">
                <div class="c-zoom-word">
                    <div class="c-zoom-word__list">
                        {% for i in range(0, 6) -%}
                            <span  class="c-zoom-word__text">
                                {{ entry.title }}
                            </span>
                        {%- endfor %}
                    </div>
                    <span class="c-routes__name">{{ entry.title }}</span>
                </div>
                <span class="c-zoom-word__pointer">&nbsp;&#8592; перейти</span>
            </a>
        {% endif %}
        {%- if entry.children.length -%}
        <ul class="c-routes">
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
    </li>
    {%- endmacro %}

    <ul class="c-routes">
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</div>
