---
layout: layouts/home.njk
eleventyNavigation:
    key: projects
    title: проекты
    order: 2
---

<h1 class="c-page__title">Проекты</h1>

{% if projectslist | length %}
    {% include "components/projectslist.njk" %}
{% else %}
    <div>Тут пока ничего нет :(</div>
{% endif %}
