@use "../components/socials";
@use "../components/link";

.p-about {
    &_title {
        margin-bottom: 1rem;
    }
    &_links {
        padding: 0.5rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--color-scnd);
    }
    &_para {
        line-height: 1.8;
    }
}
