@use "../components/page-banner";
@use "../components/routes";
@use "../components/zoom-word";
@use "../components/header-back";
@use "../layouts/index-grid";

.p-index {
    padding-top: 1rem;
    height: auto;

    @media (min-width: 400px) {
        height: 100%;
    }
}
