.c-header-back {
    border-radius: 0.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_rect {
        position: absolute;
        background: var(--color-accent);
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &_item {
        padding: 0.4rem 0.4rem 0 0.4rem;
        
    }

    &:hover &_rect {
        transform: rotate(5deg);
    }
}