.c-job {
    &_title {
        &--vk {
            color: #0077ff;
        }
        &--koshelek {
            color: #0251f8;
        }
        &--rozario {
            color: #e71f75;
        }
        &--freelance {
            color: gray;
        }
        &--seventest {
            color: #ab250c;
        }
    }
}
