.c-simple-link {
    color: var(--color-text);
    &:hover {
        color: var(--color-extra);
    }
}

.c-simple-link--inv {
    --color-text: var(--color-text-inv);
    --color-extra: var(--color-tertiary);
}

.c-link {
    color: var(--color-extra);
    padding: 0.2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 1px 0 var(--color-border);
    &:hover {
        background-color: var(--color-gray-100-60);
        box-shadow: 0 2px 0 var(--color-border);
    }
}

.c-big-link {
    color: var(--color-back-link-text);
    position:relative;
    background: linear-gradient(0deg, var(--color-back-link-background) 50%,transparent 0);
    background-position: 0 0;
    background-size: 100% 200%;
    font-family: var(--monospace);
    transition: color .16s linear,background .26s ease,transform .26s ease;
    text-transform: uppercase;
    padding: 0.2rem;

    &:visited {
        color: var(--color-back-link-text);
    }

    &:hover {
        background-position: 0 100%;
        color: var(--color-back-link-hover);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &--active {
        font-family: var(--monospace);
        cursor: default;
        background: var(--color-text);
        color: var(--color-text-inv);
        &:visited {
            background: var(--color-text);
            color: var(--color-text-inv);
        }
    }
}

.c-big-link--inv {
    --color-back-link-text: var(--color-text-inv);
}

.c-icon-link {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:visited {
        color: var(--color-text);
    }

    &:hover {
        svg {
            color: var(--color-extra);
        }
    }

    & svg {
        stroke: currentColor;
    }
}
