.c-simple-link {
    color: var(--color-text);
    &:hover {
        color: var(--color-extra);
    }
}

.c-blue-link {
    color: var(--color-shadow-link);
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        display: inline-block;
        height: 0.1rem;
        width: 100%;
        box-shadow: inset 0 -.2rem 0 var(--color-shadow-link);
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }
    &:visited {
        color: var(--color-shadow-link);
    }
    &:hover {
        &:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.c-big-link {
    color: var(--color-back-link-text);
    position:relative;
    background: linear-gradient(0deg, var(--color-back-link-background) 50%,transparent 0);
    background-position: 0 0;
    background-size: 100% 200%;
    font-family: var(--monospace);
    transition: color .16s linear,background .26s ease,transform .26s ease;
    text-transform: uppercase;
    padding: 0.2rem;

    &:visited {
        color: var(--color-back-link-text);
    }

    &:hover {
        background-position: 0 100%;
        color: var(--color-back-link-hover);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &--active {
        font-family: var(--monospace);
        cursor: default;
        background: var(--color-text);
        color: var(--color-text-inv);
        &:visited {
            background: var(--color-text);
            color: var(--color-text-inv);
        }
    }
}

.c-icon-link {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:visited {
        color: var(--color-text);
    }

    &:hover {
        svg {
            color: var(--color-extra);
        }
    }

    & svg {
        stroke: currentColor;
    }
}
