---
layout: layouts/base.njk
templateClass: tmpl-about
---

<div class="p-about">
    <div class="c-header-back">
        <h1 class="c-header-back_item">{{ about[locale].title | capitalize }}</h1>
        <div class="c-header-back_rect"></div>
    </div>

    <div role="main" class="c-content">
        {{ content | safe }}
    </div>

    <section class="p-about_links">
        {% for item in about[locale].links %}
            {% if item.icon %}
                <a
                    class="c-icon-link"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{ item.label }}"
                    href="{{ item.link }}"
                >
                    {% include "icons/" + item.icon + ".svg" %}
                </a>
            {% else %}
                <a class="c-simple-link" href="{{ item.link }}">{{ item.text }}</a>
            {% endif %}
        {% endfor %}
    </section>
    <section class="p-about_machine">
        <h3>My spec 🖥️</h3>
        <h4><a class="c-simple-link" href={{about[locale].machine.link}}>{{ about[locale].machine.name }}</a></h4>
        <p class="c-spec-item"><span class="c-spec-item_title">cpu:</span> <span>{{ about[locale].machine.spec.cpu }}</span> </p>
        <p class="c-spec-item"><span class="c-spec-item_title">ram:</span> <span>{{ about[locale].machine.spec.ram }}</span> </p>
        <p class="c-spec-item"><span class="c-spec-item_title">gpu:</span> <span>{{ about[locale].machine.spec.gpu }}</span> </p>
        <p class="c-spec-item"><span class="c-spec-item_title">ssd:</span> <span>{{ about[locale].machine.spec.ssd }}</span> </p>
        <p class="c-spec-item"><span class="c-spec-item_title">os:</span> <span>{{ about[locale].machine.spec.os }}</span> </p>
    </section>
</div>
