<div class="p-index index-grid">
    <div class="index-grid--meta">
        <div class="c-header-back">
            <h1 class="c-page-banner_title c-header-back_item">{{ metadata[locale].title }}</h1>
            <div class="c-header-back_rect"></div>
        </div>
        <p class="c-page-banner_para">{{ metadata[locale].description }}</p>
        <div class="u-flex u-flex-gap--8 u-mt--16">
            {% for item in about[locale].links %}
                {% if item.icon %}
                    <a
                    class="c-icon-link"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{ item.label }}"
                    href="{{ item.link }}"
                >
                        {% include "icons/" + item.icon + ".svg" %}
                    </a>
                {% else %}
                    <a class="c-simple-link" href="{{ item.link }}">{{ item.text }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
        <li role="navigation" class="c-routes_item{% if entry.url == page.url %} c-routes_item--active{% endif %}">
            {% if entry.url == page.url %}
                <div class="c-routes_text" href="{{ entry.url | url }}">
                    <div class="c-zoom_word">
                        <div class="c-zoom-word_list">
                            {% for i in range(0, 6) -%}
                                <span  class="c-zoom-word_text">
                                    {{ entry.title }}
                                </span>
                            {%- endfor %}
                        </div>
                        <span class="c-routes_name">{{ entry.title }}</span>
                    </div>
                </div>
            {% else %}
                <div class="c-routes_text">
                    <div class="c-zoom-word">
                        <div class="c-zoom-word_list">
                            {% for i in range(0, 6) -%}
                                <span  class="c-zoom-word_text">
                                    {{ entry.title }}
                                </span>
                            {%- endfor %}
                        </div>
                        <a href="{{ entry.url | url }}" class="c-routes_name c-routes_link">{{ entry.title }}</a>
                    </div>
                </div>
            {% endif %}
            {%- if entry.children.length -%}
                <ul class="c-routes">
                    {%- for child in entry.children %}
                        {{ renderNavListItem(child) }}
                    {% endfor -%}
                </ul>
            {%- endif -%}
        </li>
    {%- endmacro %}

    <ul class="c-routes index-grid--pages">
        {%- for entry in navPages %}
            {{ renderNavListItem(entry) }}
        {%- endfor -%}
    </ul>
</div>