<div class="c-header-back">
    <h1 class="c-header-back_item">{{ projects[locale].title }}</h1>
    <div class="c-header-back_rect"></div>
</div>

{% if projectslist | length %}
    {% include "components/projectslist.njk" %}
{% else %}
    <div>{{ projects[locale].empty }}</div>
{% endif %}
