.c-cv {
    &__contacts {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin-left: -0.5rem;
        margin-top: -0.25rem;
    }
    &__contact {
        display: flex;
        margin-left: 0.5rem;
        margin-top: 0.25rem;
    }
    &__profession {
        margin-bottom: 1rem;
    }
    &__download {
        svg {
            vertical-align: middle;
        }
    }
}
