<footer role="contentinfo" class="c-footer">
    <div class="c-footer__wrapper">
        <div class="c-footer__item c-footer__tech">Сделано с помощью <a class="c-shadow-link" href="https://11ty.dev">11ty</a></div>
        <div class="c-footer__item c-footer__author">© 2021 Андрей Парфенов</div>
        <div class="c-footer__item c-footer__source"><span>исходники</span> <a aria-label="github" class="c-footer__icon" href="https://github.com/moody-person/my-site">{% include "icons/brand-github.svg" %}</a></div>
    </div>
</footer>
