<nav class="c-nav">
    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
    <li class="c-nav-list__item{% if entry.url == page.url %} c-nav-list__item--active{% endif %}">
        {% if entry.url == page.url %}
            <span class="c-nav-list__link c-nav-list__link--active" href="{{ entry.url | url }}">{{ entry.title }}</span>
        {% else %}
            <a class="c-nav-list__link c-back-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% endif %}
        {%- if entry.children.length -%}
        <ul class="c-nav-list">
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
    </li>
    {%- endmacro %}

    <ul class="c-nav-list">
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</nav>
